spring:
  application:
    name: "arka-inventory"

  datasource:
    url: jdbc:mysql://localhost:3306/arka_db
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none  #none por los scripts SQL manuales
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  # CONFIGURACIÓN DE EMAIL HU6
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:mirandotodo13@gmail.com}
    password: ${EMAIL_PASSWORD:tu-app-password} # contraseña de aplicacion modificar
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always